<%= turbo_frame_tag task do %>
  <h3 class="flex justify-between align-center">
    <span class="text-xl mb-2 font-medium"><%= link_to task.name, task_path(task), data: { turbo_frame: "_top" } %></span>
    <div>
      <%= button_to "Delete",
                    task_path(task),
                    method: :delete %>
      <%= link_to "Edit",
                  edit_task_path(task) %>
    </div>
  </h3>
<% end %>
